@font-face {
   font-family: gdsbold;
   src: url(../font/GDSTransportWebsite-Bold.ttf);
}

@font-face {
   font-family: gds;
   src: url(../font/GDSTransportWebsite.ttf);
}

body {
  font-family: gds;
  font-size: 14px;
}

h1 {
  font-family: gdsbold;
}

h2 {
  font-family: gdsbold;
}

h3 {
  font-family: gdsbold;
}

h4 {
  font-family: gdsbold;
}